body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div {
    margin: 0;
    padding:0;
}

ul,ol{list-style-type:none;}

a:hover { text-decoration:underline; }

.fr {
    float: right;
}
html, body {
    height: 100%;

}